package {{package}}.{{feature_name}}.features.{{feature_name}}.compose

import androidx.compose.material3.MaterialTheme
import androidx.compose.material3.Scaffold
import androidx.compose.runtime.Composable
import androidx.compose.ui.Modifier

@Composable
internal fun {{FeatureName}}Content() {
    MaterialTheme {
        Scaffold() {

        }
    }
}